body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #313131;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px solid yellow;
    margin: 0;
}

.basic-info {
    padding: 20px;
}
footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.middle{
    background-color: white;
    display: flex;
    justify-content: space-around;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.middle:hover{
    color:white;
    background-color: #333;
    box-shadow: 0 0 10px black;
    transform: scale(1.01);
    -webkit-transform: scale(1.01);
    -moz-transform: scale(1.01);
    -ms-transform: scale(1.01);
    -o-transform: scale(1.01);
}
.middle img{
    margin-left: 100px;
}
.middle p{
    font-size: 30px;
    padding: 10px 50px;
    font-family: "Belleza", sans-serif;
}
.img-main {
    width: 100%;
    height: auto;
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}
.img-main:hover {
    opacity: 0; /* Make the main image transparent on hover */
}
.img-secondary {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0; /* Initially hide the secondary image */
    transition: opacity 0.5s ease; /* Smooth transition for opacity change */
}
.img-main:hover + .img-secondary {
    opacity: 1; /* Make the secondary image visible on hover */
}
.basic-info{
    background-color: #ffffff;
}
.category{
    display: flex;
    justify-content: space-around;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.category:hover{
    background-color:#a8a8a8;
}
.product{
    width: 10px;
    height: 10px;
}
@font-face{
    font-family: Vogue; 
    src: url("font/Vogue.ttf");
}
.logo1{
    font-family: "Vogue",sans-serif;
    color: yellow;
    border: 6px solid yellow;
    padding: 20px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.logo1:hover{
    color: #fc36ff;
    border: 6px solid #fc36ff;
}
.wear{
    display: flex;
    justify-content: space-evenly;
}
.wear img{
    width: 600px;
    margin:20px 50px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    border: 2px solid black;

    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.wear img:hover{
    transform: scale(1.01);
    box-shadow: 0 0 5px black;
}
.w{
    font-size: 100px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.middle:hover .w{
    color: yellow;

}
.copy{
    color:yellow;
}

.hd {
    padding-left: 10px;
    color:white;
    box-shadow: inset 0 0 0 0 #313131;
    transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
    -webkit-transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
    -moz-transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
    -ms-transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
    -o-transition: color .5s ease-in-out, box-shadow .3s ease-in-out;
}
.hd:hover {
    box-shadow: inset 710px 0 0 0 yellow;
    color: rgb(0, 0, 0);
}